html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}


@media (max-width: 600px) {
  .Mobile {
    display: none
  }
  .Search {
    width: 50%;
  }
}


main {
  height: 100vh;
  margin: 0;
}


.DisplayButton {
  margin-bottom: 3px;
}


.Search {
  position: fixed;
  padding: 1%;
  z-index: 99;
  top: auto;
  right: 0;
  border: solid black;
  border-width: 1px;
  background-color: #fffcf0;
  max-height: 25vh;
  width: 15%;
}


.Results {
  position: fixed;
  overflow-y: auto;
  max-height: 80vh;
  overflow-x: hidden;
}


.InfoWindow {
  max-width: 20vw;
}


.TopInfo {
  padding: 0;
}


.Snippet {
  border-top: 1px solid grey;
  padding-top: 5px;
}


.Selected {
  background-color: grey;
}
